body{
    background-color: black;
}
h1{
    color: white;
    text-align: center;
    font-size: 30px;
    
}
h2{
    color: white;
    font-weight: lighter;
    font-size: 50px;
}
pre{
    color: white;
}
p{
    color: white;
}
.container{
    background-color: rgb(192, 126, 126);
    padding: 30px;
    margin: 0;

}
Pre{
    font-size: 20px;
   
}
.press{
    background-color: rgb(255, 255, 255);
    height: 5vh;
    width: 10vw;
    border-radius: 7px;
    border: 3px solid black;
}
